<!DOCTYPE html>
<!--Important to create a xml nameSpace for thymeleaf. If I dont, each time I use th: I receive the message namespace is not bound-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="fr">
<head>
        <title>competition</title>
        <link href="../static/css/rowwwapp_forms_layout.css" th:href="@{/css/rowwwapp_forms_layout.css}" rel="stylesheet" media="screen">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/js/rowwwapp_competition_page.js" th:src="@{/js/rowwwapp_competition_page.js}"></script>
    </head>
    <body>

        <!--Navigation bar-->
        <ul>
            <li><a th:href="@{/rowwwapp/bienvenue}">Accueil</a></li>
            <li><header>Organiser: étape 1</header></li>
            <li style="float:right"><a th:href="@{/rowwwapp/logout}">Log Out</a></li>
            <li style="float:right" sec:authorize="isAuthenticated()">Logged In</li>
        </ul>
        <!--One row-->
        <div class="row">
            <!--Three columns-->
            <div class="column side">
            </div>

            <div class="column middle">
        <article>
           <!--Thymeleaf uses th:xxx attributes inside HTML tags so it doesn’t break the structure of the page – unlike JSP and JSTL. So a Thymeleaf template file still looks like HTML in browser – very convenient for both designer and programmer.
            In Thymeleaf, hyperlink is wrapped inside @{} and access a model object inside ${}.
            Note that in this form tag, the th:object attribute points to the name of the model object sent
            from Spring MVC controller.
            */-->
            <button id="buttonCompetitionToggle">Jour de compétition >>></button><br/>
            <br/>
            <!--/*@thymesVar id="competitionForm2" type="be.intecbrussel.models.competition.Competition"*/-->
            <form id="competition" action="#" th:action="@{/rowwwapp/competition}" th:object="${competitionForm2}" method="post" >
            <section id="competitionForm">
                <h4>chanps requis*</h4>
                <label for="name">Nom officiel*:</label><br/>
                    <input type="text" id="name" size=100  value="maximum 100 caractères" title="par exemple: Régates internationales de Bruxelles" th:field="*{name}" required/><br/>
                <label for="dayDescription">Description (organisateurs, patronage...):</label><br/>
                    <input type="text" id="dayDescription" size=200 value="maximum 200 caractères" title="par exemple: Royal Sport Nautique de Bruxelles 1865" th:field="*{description}"/><br/>
                <label for="location">Lieu*:</label><br/>
                    <input type="text" th:field="*{placeOfEvent}" id="location" size=100 value="maximum 100 caractères" title="par exemple: Centre nautique de Hazewinkel" required/><br/>
                <label for="dateOfCompetition">Date*:</label><br/>
                    <input type="date" id="dateOfCompetition" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" title="01/01/2000" th:field="*{date}" required/><br/>
             </section>

            <button id="buttonInscriptionToggle">Inscriptions >>></button><br/>
            <br/>
            <section id="inscriptionForm">
                <label for="inscriptionDescription">Règles:</label><br/>
                    <input type="text" id="inscriptionDescription" value="maximum 200 caractères" size=200 th:field="*{registrationRules}"/><br/>
                <label for="contactsInfos">Adresse de contact:</label><br/>
                    <input type="text" id="contactsInfos" size=100 value="maximum 100 caractères" title="par exemple: royalregatta@royal1865.be" th:field="*{registrationContact}"/><br/>
                <label for="inscriptionCost"> Coût (euros):</label><br/>
                    <input type="number" id="inscriptionCost" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" title="00.00" th:field="*{registrationCost}"/><br/>
                <label for="limitDate">Date limite d'inscription:</label><br/>
                    <input type="date" id="limitDate" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" title="01/01/2000" th:field="*{registrationLimit}"/><br/>
            </section>

            <button id="buttonForfeitToggle">Forfaits >>></button><br/>
            <br/>
            <section id="forfeitForm">
                <label for="forfeitLimitHour"> Heure limite de déclaration des forfaits:</label><br/>
                    <input type="text" id="forfeitLimitHour" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" title="00.00" th:field="*{forfeitLimitHour}"/><br/>
                <label for="fofeitLimitDate">Date limite de déclaration des forfaits:</label><br/>
                    <input type="date" id="fofeitLimitDate" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" title="01/01/2000" th:field="*{forfeitLimit}"/><br/>
                <label for="forfeitContactsInfos">Contact:</label><br/>
                    <input type="text" id="forfeitContactsInfos" size=100 value="maximum 100 caractères" th:field="*{forfeitContact}"/><br/>
                <label for="forfeitInscriptionDescription">Règles:</label><br/>
                    <input type="text" id="forfeitInscriptionDescription" size=200 value="maximum 200 caractères" th:field="*{forfeitRules}"/><br/>
            </section>

            <button id="buttonLotteryToggle">Tirage au sort des départs >>></button><br/><br/>
            <section id="lotteryForm">
                <label for="lotteryLimitDate" >Date de rendez-vous:</label><br/>
                    <input type="date" id="lotteryLimitDate" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" title="01/01/2000" th:field="*{lotteryDate}"/><br/>
                <label for="lotteryInscriptionDescription" >Règles :</label><br/>
                    <input type="text" id="lotteryInscriptionDescription" size=200 value="maximum 200 caractères" th:field="*{lotteryRules}"/><br/>
                <label for="address" >Adresse:</label><br/>
                    <input type="text" id="address" size=100 value="maximum 100 caractères" title="par exemple, salle des fêtes de ..." th:field="*{lotteryContact}"/><br/>
            </section>

            <button id="buttonInfosToggle">Informations complémentaires >>></button><br/>
            <br/>
            <section id="infosForm">
                <label for="infos">Règles concernant le classement, les récompenses, les dossards, la pesée...:</label><br/>
                    <input type="text" id="infos" size=1000 value="maximum 1000 caractères" th:field="*{complementaryRules}"/><br/>
            </section>

            <input type="submit" value="Enregistrer et continuer"/>
            </form>
        </article>
            </div>
            <div class="column side">
            </div>
            <!--End of One row-->
        </div>
        <div class="row">
            <footer>Christine Roels, Intec Brussel Java EE Developer, persoonlijk project 2020</footer>
        </div>
    </body> 
</html>