<!DOCTYPE html>
<!--Important to create a xml nameSpace for thymeleaf. If I dont, each time I use th: I receive the message namespace is not bound-->
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
        <title>competition</title>
        <link href="../static/css/rowwwapp_forms_layout.css" th:href="@{/css/rowwwapp_forms_layout.css}" rel="stylesheet" media="screen">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/js/rowwwapp_competition_page.js" th:src="@{/js/rowwwapp_competition_page.js}"></script>
    </head>
    <body>
        <header>Jour de compétition</header>
        <article>
           
            <button id="buttonCompetitionToggle">Compétition >>></button><br/>
            <h1></h1>
            <section id="competitionForm">
                <label for="location">Lieu:</label><br/>
                <input type="text" id="location" size=100 title=" par exemple: Centre nautique de Hazewinkel" required/><br/>
                <label for="dateOfCompetition">Date:</label><br/>
                <input type="date" id="dateOfCompetition" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" title="01/01/2000" required><br/>
                <label for="name">Nom officiel:</label><br/>
                <input type="text" id="name" size=100  title="par exemple: Régates internationales de Bruxelles" required/><br/>
                <label for="dayDescription">Description (organisateurs, patronage...):</label><br/>
                <input type="text" id="dayDescription" size=200 title="par exemple: Royal Sport Nautique de Bruxelles 1865" required/><br/>
                
            </section>

            <button id="buttonInscriptionToggle">Inscriptions >>></button><br/>
            <h1></h1>
            <section id="inscriptionForm">
                <label for="inscriptionCost"> Coût (euros):</label><br/>
                <input type="text" id="inscriptionCost" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00" required/><br/>
                <label for="limitDate">Date limite d'inscription:</label><br/>
                <input type="date" id="limitDate" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" title="01/01/2000" required><br/>
                <label for="inscriptionDescription">Règles:</label><br/>
                <input type="text" id="inscriptionDescription" size=200 value=""/><br/>
                <label for="contactsInfos">Adresse de contact:</label><br/>
                <input type="text" id="contactsInfos" size=100 value="" title="par exemple: royalregatta@royal1865.be" required/><br/>
            </section>

            <button id="buttonForfeitToggle">Forfaits >>></button><br/>
            <h1></h1>
            <section id="forfeitForm">
                <label for="forfeitLimitHour"> Heure limite de déclaration des forfaits:</label><br/>
                <input type="text" id="forfeitLimitHour" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00" required/><br/>
                <label for="fofeitLimitDate">Date limite de déclaration des forfaits:</label><br/>
                <input type="date" id="fofeitLimitDate" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" title="01/01/2000" required><br/>
                <label for="forfeitInscriptionDescription">Règles:</label><br/>
                <input type="text" id="forfeitInscriptionDescription" size=200 value="" required/><br/>
                <label for="forfeitContactsInfos">Contact:</label><br/>
                <input type="text" id="forfeitContactsInfos" size=100 value=""/><br/>
            </section>

            <button id="buttonLotteryToggle">Tirage au sort des départs >>></button><br/>
            <h1></h1>
            <section id="lotteryForm">
                <label for="lotteryHour"> Heure de rendez-vous:</label><br/>
                <input type="text" id="lotteryHour" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00" required/><br/>
                <label for="lotteryLimitDate">Date de rendez-vous:</label><br/>
                <input type="date" id="lotteryLimitDate" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" title="01/01/2000" required><br/>
                <label for="lotteryInscriptionDescription">Règles :</label><br/>
                <input type="text" id="lotteryInscriptionDescription" size=200 value=""/><br/>
                <label for="address">Adresse:</label><br/>
                <input type="text" id="address" size=100 value="" title="par exemple, salle des fêtes de ..."/><br/>
            </section> 

            <button id="buttonCompensationToggle">Compensations pour les courses open, mixtes, à handicap >>></button><br/>
            <h1></h1>
            <section id="compensationForm">
                <label for="compensationMale">Homme :</label><br/>
                <input type="text" id="compensationMale" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationFemale">Femme :</label><br/>
                <input type="text" id="compensationFemale" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationBeg">BEG :</label><br/>
                <input type="text" id="compensationBeg" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationPR3">PR3 :</label><br/>
                <input type="text" id="compensationPR3" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationPR2">PR2 :</label><br/>
                <input type="text" id="compensationPR2" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationPR1">PR1 :</label><br/>
                <input type="text" id="compensationPR1" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationJ10">J10 :</label><br/>
                <input type="text" id="compensationJ10" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationJ12">J12 :</label><br/>
                <input type="text" id="compensationJ12" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationJ14">J14 :</label><br/>
                <input type="text" id="compensationJ14" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationJ16">J16 :</label><br/>
                <input type="text" id="compensationJ16" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationJ18">J18 :</label><br/>
                <input type="text" id="compensationJ18" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>    
                <label for="compensationU23">U23 :</label><br/>
                <input type="text" id="compensationU23" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/> 
                <label for="compensationSA">S_A :</label><br/>
                <input type="text" id="compensationSA" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/> 
                <label for="compensationSB">S_B :</label><br/>
                <input type="text" id="compensationSB" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>    
                <label for="compensationA">A :</label><br/>
                <input type="text" id="compensationA" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationB">B :</label><br/>
                <input type="text" id="compensationB" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationC">C :</label><br/>
                <input type="text" id="compensationC" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationD">D :</label><br/>
                <input type="text" id="compensationD" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationE">E :</label><br/>
                <input type="text" id="compensationE" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationF">F :</label><br/>
                <input type="text" id="compensationF" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>    
                <label for="compensationG">G :</label><br/>
                <input type="text" id="compensationG" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationH">H :</label><br/>
                <input type="text" id="compensationH" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationI">I :</label><br/>
                <input type="text" id="compensationI" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationJ">J :</label><br/>
                <input type="text" id="compensationJ" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>
                <label for="compensationK">K :</label><br/>
                <input type="text" id="compensationK" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/> 
                <label for="compensationL">L :</label><br/>
                <input type="text" id="compensationL" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>     
                <label for="compensationM">M :</label><br/>
                <input type="text" id="compensationM" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00"/><br/>     
            </section>

            <button id="buttonInfosToggle">Informations complémentaires >>></button><br/>
            <h1></h1>
            <section id="infosForm">
                <label for="infos">Règles concernant le classement, les récompenses, les dossards, la pesée...:</label><br/>
                <input type="text" id="infos" size=1000 value=""/><br/>
            </section>
            <input type="submit" id="buttonCompleted" value="Enregistrer et passer au programme des courses"/><br/>
            <input type="submit" id="buttonIncompleted" value="Enregistrer et quitter"/><br/>
        </article>
        
        <footer>Christine Roels, Intec Brussel Java EE Developer, persoonlijk project 2020</footer>
    </body> 
</html>