<!DOCTYPE html>
<!--Important to create a xml nameSpace for thymeleaf. If I dont, each time I use th: I receive the message namespace is not bound-->
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <link href="../static/css/rowwwapp_forms_layout.css" th:href="@{/css/rowwwapp_forms_layout.css}" rel="stylesheet" media="screen">
        <title>competition/save and continue</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/rowwwapp_competition_mods_export.js" th:src="@{/js/rowwwapp_competition_mods_export.js}"></script>
    </head>
    <body>
    <header>Organisation d'une compétition/documents</header>
    <article>
        <!-- part 1 -->
        <h1 align="center">Vos données</h1>
        <!-- part 2 -->
        <button id="newRaceInfos" onclick="loadPageCompetitionRace()">Créer une course supplémentaire</button><br/>
        <button id="toCompetition" onclick="loadPageCompetition()">Organiser une autre compétition</button></br>
        <button id="toDownload" onclick="loadPageDownload()">Télécharger ces données</button></br>
    </article>
    <footer>Christine Roels, Intec Brussel Java EE Developer, persoonlijk project 2020</footer>
    </body> 
</html>    