<!DOCTYPE html>
<!--Important to create a xml nameSpace for thymeleaf. If I dont, each time I use th: I receive the message namespace is not bound-->
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <link href="../static/css/rowwwapp_forms_layout.css" th:href="@{/css/rowwwapp_forms_layout.css}" rel="stylesheet" media="screen">
        <title>save and continue</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/rowwwapp_registration_page_exports.js" th:src="@{/js/rowwwapp_registration_page_exports.js}"></script>
    </head>
    <body>
    <header>Inscription aux courses/documents</header>
    <article>
        <!--part Modification-->
        <br/>
        <button id="buttonModToggle">Modification d'équipe</button><br/>
        <section id="modifications">
            <form id="modification1">
                <label for="teamName">Nom d'identification de l'équipe:</label><br/>
                <input type="text" id="teamName" size="50" required/><br/>
                <label for="clubNumber">Numéro de license du rameur à remplacer:</label><br/>
                <input type="number" id="clubNumber" pattern="[0-9]{2}.[0-9]{2}.[0-9]{3}" title="01.01.001" required/><br/>
            </form>

        <form id="modbuttons">
            <input type="submit" id="ToRegistrationPage" value="Inscrire le nouveau rameur"/><br/>
            <input type="submit" id="newRower" value="Modifier l'inscription d'un autre rameur"/><br/>
            <input type="submit" id="modCompleted" value="Enregistrer et exporter"/><br/>
        </form>
        </section>
        <!--part Forfeit-->
        <br/>
        <button id="buttonForfeitToggle">Forfait</button><br/>
        <section id="Forfeit">
            <form id="forfait1">
                <label for="teamForfaitName">Nom d'identification de l'équipe:</label><br/>
                <input type="text" id="teamForfaitName" size="50" value="" required/><br/>
                <label for="reasons">Raisons éventuelles:</label><br/>
                <input type="text" id="reasons" value="" size="200"/><br/>
            </form>
        </section>
        <!--part Exportation-->
        <button id="toRegistration" onclick="loadPageRegistration()">S'enregistrer à une autre course</button></br>
        </br>
        <button id="toDownload" onclick="loadPageDownloadRegistration()">Télécharger les données</button></br>

    </article>
    <footer>Christine Roels, Intec Brussel Java EE Developer, persoonlijk project 2020</footer>
  </body> 
</html>    