<!DOCTYPE html>
<!--Important to create a xml nameSpace for thymeleaf. If I dont, each time I use th: I receive the message namespace is not bound-->
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/rowwwapp_forms_layout.css" th:href="@{/css/rowwwapp_forms_layout.css}" rel="stylesheet" media="screen">
        <title>registration</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/repeater.js" th:src="@{/js/repeater.js}"></script>
    <!-- repeater plugin provided by vijaybajrot  -->
    <script src="../static/js/rowwwapp_registration_team_page.js" th:src="@{/js/rowwwapp_registration_team_page.js}"></script>
    </head>
    <body>
    <header>Participer: étape 4</header>
    <article>
        <!-- part Infos Scheduled Races -->
        <h1>Vos données</h1><br/>
        <h2>Course sélectionnée</h2>
        <div>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Lieu</th>
                    <th>Date</th>
                    <th>Numéro officiel</th>
                    <th>Type de course</th>
                    <th>Type de course si non répertiorée ci-dessus</th>
                    <th>Coefficient d'handicap par catégories (si applicable)</th>
                    <th>Coefficient d'handicap par genre (si applicable)</th>
                </tr>
                <tr th:each="scheduledRace: ${scheduledRaces}">
                    <td th:if="${scheduledRace.equals(null)}">Aucune course n'est encore sélectionée</td>
                    <td th:text="${scheduledRace.getId()}"></td>
                    <td th:text="${scheduledRace.location}"></td>
                    <td th:text="${scheduledRace.date}"></td>
                    <td th:text="${scheduledRace.number }"></td>
                    <td th:text="${scheduledRace.raceType }"></td>
                    <td th:text="${scheduledRace.customedRace }"></td>
                    <td th:text="${scheduledRace.coefficientCategory }"></td>
                    <td th:text="${scheduledRace.coefficientGender }"></td>
                </tr>
            </table>
        </div>
        <!-- part Infos Rowers -->
        <h1>Participants inscrits</h1><br/>
        <div>
            <table>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Date de naissance</th>
                    <th>Age</th>
                    <th>Catégorie</th>
                    <th>Coefficient d'handicap pour la catégorie (si applicable)</th>
                    <th>Genre</th>
                    <th>Coefficient d'handicap pour le genre (si applicable)</th>
                    <th>Club</th>
                    <th>Numéro de licence</th>
                    <th>Nationalité</th>
                    <th>Expérience</th>
                    <th>Handicap (si applicable)</th>
                    <th>Equipe</th>
                </tr>
                <tr th:each="rower: ${rowers}">
                    <td th:if="${rower.equals(null)}">Aucun participant n'est encore inscrit</td>
                    <td th:text="${rower.getId()}"></td>
                    <td th:text="${rower.getFirstName()}"></td>
                    <td th:text="${rower.getLastName()}"></td>
                    <td th:text="${rower.getBirthDate() }"></td>
                    <td th:text="${rower.getAge() }"></td>
                    <td th:text="${rower.getCategory() }"></td>
                    <td th:text="${rower.getCategoryCoef() }"></td>
                    <td th:text="${rower.getGender() }"></td>
                    <td th:text="${rower.getGenderCoef() }"></td>
                    <td th:text="${rower.getClub() }"></td>
                    <td th:text="${rower.getLicenceNumber() }"></td>
                    <td th:text="${rower.getNationality() }"></td>
                    <td th:text="${rower.getRaceExperience() }"></td>
                    <td th:text="${rower.getRowerHandicap() }"></td>
                </tr>
            </table>
        </div><br/>
        <button id="buttonTeamToggle">Equipe >>></button><br/>
    <section id="teamForm">
        <section id="repeater">
            <!-- Repeater Heading -->
            <section class="repeater-heading">
                <button class="btn btn-primary repeater-add-btn">Afficher le formulaire </button>
                <p>*une ou plusieurs fois selon le nombre d'équipes à constituer</p>
            </section>
            <!-- Repeated Items -->
            <section class="items" data-group="test">
            <!--/*@thymesVar id="teamForm" type="be.intecbrussel.models.registration.Team"*/-->
        <form action="#" id="teamForm2"  method="post" th:action="@{/rowwwapp/registration/team}" th:object="${teamForm}">
          <label for="teamName">Nom d'identification de l'équipe:</label><br/>
            <input type="text" id="teamName" size="50" value="Les Royals" th:field="*{name}" required/><br/>
          <label for="boatType">Type d'embarcation:</label><br/>
          <select id="boatType" th:field="*{type}"  required>1 à sélectionner:
            <option value="2-" selected>2-</option>
            <option value="4-">4-</option>
            <option value="2+">2+</option>
            <option value="4+">4+</option>
            <option value="8+">8+</option>
            <option value="1x">1x</option>
            <option value="2x">2x</option>
            <option value="3x">3x</option>
            <option value="4x">4x</option>
            <option value="8x">8x</option>
            <option value="4-">4-</option>
            <option value="dinghy">dinghy</option>
            <option value="tender">tender</option>
            <option value="yole">yole</option>
            <option value="canöe">canöe_skiff</option>
            <option value="canadian trek skiff">canadian_trek_skiff</option>
            <option value="trek_1x">trek_1x</option>
            <option value="trek_2x">trek_2x</option>
            <option value="trek_4x">trek_4x</option>  
          </select><br/>
            <label for="cox">Barreur(euse):</label><br/>
            <input type="text" id="cox" size="50" value="nom" th:field="*{cox}" required/><br/>
            <label for="nage">Nage:</label><br/>
            <input type="text" id="nage" size="50" value="nom" th:field="*{stroke}" required/><br/>
            <input type="submit"/>
        </form>
            </section>
            <!-- End of Repeated Items -->
        </section>
        <!-- End of Repeater -->
    </section>
        <!-- End of Team Form -->


</article>
<footer>Christine Roels, Intec Brussel Java EE Developer, persoonlijk project 2020</footer>
</body> 
</html>