<!DOCTYPE html>
<!--Important to create a xml nameSpace for thymeleaf. If I dont, each time I use th: I receive the message namespace is not bound-->
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/rowwwapp_forms_layout.css" th:href="@{/css/rowwwapp_forms_layout.css}" rel="stylesheet" media="screen">
        <title>registration</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/rowwwapp_registration_team_page.js" th:src="@{/js/rowwwapp_registration_team_page.js}"></script>
    </head>
    <body>
    <header>Participer: étape 3</header>
    <article>
        <!-- part Infos Scheduled Races -->
        <h1>Vos données</h1><br/>
        <h2>Course sélectionnée</h2>
        <div>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Lieu</th>
                    <th>Date</th>
                    <th>Numéro officiel</th>
                    <th>Type de course</th>
                    <th>Type de course si non répertiorée ci-dessus</th>
                    <th>Coefficient d'handicap par catégories (si applicable)</th>
                    <th>Coefficient d'handicap par genre (si applicable)</th>
                </tr>
                <tr th:each="scheduledRace: ${scheduledRaces}">
                    <td th:if="${scheduledRace.equals(null)}">Aucune course n'est encore sélectionée</td>
                    <td th:text="${scheduledRace.getId()}"></td>
                    <td th:text="${scheduledRace.location}"></td>
                    <td th:text="${scheduledRace.date}"></td>
                    <td th:text="${scheduledRace.number }"></td>
                    <td th:text="${scheduledRace.raceType }"></td>
                    <td th:text="${scheduledRace.customedRace }"></td>
                    <td th:text="${scheduledRace.coefficientCategory }"></td>
                    <td th:text="${scheduledRace.coefficientGender }"></td>
                </tr>
            </table>
        </div>
        <!-- part Infos Rowers -->
        <h1>Participants inscrits</h1><br/>
        <div>
            <table>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Date de naissance</th>
                    <th>Age</th>
                    <th>Catégorie</th>
                    <th>Coefficient d'handicap pour la catégorie (si applicable)</th>
                    <th>Genre</th>
                    <th>Coefficient d'handicap pour le genre (si applicable)</th>
                    <th>Club</th>
                    <th>Numéro de licence</th>
                    <th>Nationalité</th>
                    <th>Expérience</th>
                    <th>Handicap (si applicable)</th>
                    <th>Equipe</th>
                </tr>
                <tr th:each="rower: ${rowers}">
                    <td th:if="${rower.equals(null)}">Aucun participant n'est encore inscrit</td>
                    <td th:text="${rower.getId()}"></td>
                    <td th:text="${rower.getFirstName()}"></td>
                    <td th:text="${rower.getLastName()}"></td>
                    <td th:text="${rower.getBirthDate() }"></td>
                    <td th:text="${rower.getAge() }"></td>
                    <td th:text="${rower.getCategory() }"></td>
                    <td th:text="${rower.getCategoryCoef() }"></td>
                    <td th:text="${rower.getGender() }"></td>
                    <td th:text="${rower.getGenderCoef() }"></td>
                    <td th:text="${rower.getClub() }"></td>
                    <td th:text="${rower.getLicenceNumber() }"></td>
                    <td th:text="${rower.getNationality() }"></td>
                    <td th:text="${rower.getRaceExperience() }"></td>
                    <td th:text="${rower.getRowerHandicap() }"></td>
                </tr>
            </table>
        </div><br/>
        <button id="buttonTeamToggle">Equipe >>></button><br/>
    <section id="teamForm">
        <!--/*@thymesVar id="teamForm" type="be.intecbrussel.models.registration.Team"*/-->
        <form action="#" id="teamForm2"  method="post" th:action="@{/rowwwapp/registration/team}" th:object="${teamForm}">
        <section id="repeater">
            <!-- Repeater Heading -->
            <section class="repeater-heading">
                <button class="btn btn-primary repeater-add-btn">Afficher le formulaire (en cours de développement) </button>
                <p>*une ou plusieurs fois selon le nombre d'équipes à constituer</p>
            </section>
            <!-- Repeated Items -->
            <section class="items" data-group="test">
          <label for="teamName">Nom d'identification de l'équipe:</label><br/>
            <input type="text" id="teamName" size="50" th:field="*{name}" required/><br/>
                <label for="boatType">Type d'embarcation admise:</label><br/>
                <select id="boatType" th:field="*{type}" required>1 à sélectionner
                    <option value="ALL" selected>ALL</option>
                    <option value="SWEEP_COXLESS_PAIR_2_MINUS" >SWEEP_COXLESS_PAIR_2_MINUS</option>
                    <option value="SWEEP_COXLESS_PAIR_4_MINUS" >SWEEP_COXLESS_PAIR_4_MINUS</option>
                    <option value="SWEEP_COXLESS_PAIR_2_PLUS" >SWEEP_COXLESS_PAIR_2_PLUS</option>
                    <option value="SWEEP_COXLESS_PAIR_4_PLUS" >SWEEP_COXLESS_PAIR_4_PLUS</option>
                    <option value="SWEEP_EIGHT_8_PLUS" >SWEEP_EIGHT_8_PLUS</option>
                    <option value="SINGLE_SCULL_1X" >SINGLE_SCULL_1X</option>
                    <option value="DOUBLE_SCULL_2X" >DOUBLE_SCULL_2X</option>
                    <option value="TRIPLE_SCULL_3X" >TRIPLE_SCULL_3X</option>
                    <option value="QUAD_SCULL_4X" >QUAD_SCULL_4X</option>
                    <option value="OCTUPLE_SCULL_8X" >OCTUPLE_SCULL_8X</option>
                    <option value="QUEEP_4_MINUS" >QUEEP_4_MINUS</option>
                    <option value="ROWING_DINGHY" >ROWING_DINGHY</option>
                    <option value="Tender" >Tender</option>
                    <option value="Yole" >Yole</option>
                    <option value="Canöe" >Canöe</option>
                    <option value="Canadian_trek" >Canadian_trek</option>
                    <option value="Trek_1x" >Trek_1x</option>
                    <option value="Trek_2x" >Trek_2x</option>
                    <option value="Trek_4x" >Trek_4x</option>
                </select><br/>
            <label >Barreur(euse):</label><br/>
            <p>*En cours de développement</p>
            <label >Nage:</label><br/>
                <p>*En cours de développement</p>


            </section>
            <!-- End of Repeated Items -->
        </section>
        <!-- End of Repeater -->
            <input type="submit" value="Enregistrer et continuer"/>
        </form>
    </section>
        <!-- End of Team Form -->


</article>
<footer>Christine Roels, Intec Brussel Java EE Developer, persoonlijk project 2020</footer>
</body> 
</html>