<!DOCTYPE html>
<!--Important to create a xml nameSpace for thymeleaf. If I dont, each time I use th: I receive the message namespace is not bound-->
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <link href="../static/css/rowwwapp_forms_layout.css" th:href="@{/css/rowwwapp_forms_layout.css}" rel="stylesheet" media="screen">
        <title>save and continue</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/rowwwapp_registration_page_exports.js" th:src="@{/js/rowwwapp_registration_page_exports.js}"></script>
    </head>
    <body>
    <header>Inscription aux courses/documents</header>
    <article>
        <!-- part Infos Scheduled Races -->
        <h1 align="center">Course sélectionnée</h1>
        <div>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Lieu</th>
                    <th>Date</th>
                    <th>Numéro officiel</th>
                    <th>Type de course</th>
                    <th>Type de course si non répertiorée ci-dessus</th>
                    <th>Coefficient d'handicap par catégories (si applicable)</th>
                    <th>Coefficient d'handicap par genre (si applicable)</th>
                </tr>
                <tr th:each="scheduledRace: ${scheduledRaces}">
                    <td th:if="${scheduledRace.equals(null)}">Aucune course n'est encore sélectionée</td>
                    <td th:text="${scheduledRace.getId()}"></td>
                    <td th:text="${scheduledRace.location}"></td>
                    <td th:text="${scheduledRace.date}"></td>
                    <td th:text="${scheduledRace.number }"></td>
                    <td th:text="${scheduledRace.raceType }"></td>
                    <td th:text="${scheduledRace.customedRace }"></td>
                    <td th:text="${scheduledRace.coefficientCategory }"></td>
                    <td th:text="${scheduledRace.coefficientGender }"></td>
                </tr>
            </table>
        </div>
        <!-- part Infos Rowers -->
        <h1 align="center">Participants inscrits</h1><br/>
        <div>
            <table>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Date de naissance</th>
                    <th>Age</th>
                    <th>Catégorie</th>
                    <th>Coefficient d'handicap pour la catégorie (si applicable)</th>
                    <th>Genre</th>
                    <th>Coefficient d'handicap pour le genre (si applicable)</th>
                    <th>Club</th>
                    <th>Numéro de licence</th>
                    <th>Nationalité</th>
                    <th>Expérience</th>
                    <th>Handicap (si applicable)</th>
                    <th>Equipe</th>
                </tr>
                <tr th:each="rower: ${rowers}">
                    <td th:if="${rower.equals(null)}">Aucun participant n'est encore inscrit</td>
                    <td th:text="${rower.getId()}"></td>
                    <td th:text="${rower.getFirstName()}"></td>
                    <td th:text="${rower.getLastName()}"></td>
                    <td th:text="${rower.getBirthDate() }"></td>
                    <td th:text="${rower.getAge() }"></td>
                    <td th:text="${rower.getCategory() }"></td>
                    <td th:text="${rower.getCategoryCoef() }"></td>
                    <td th:text="${rower.getGender() }"></td>
                    <td th:text="${rower.getGenderCoef() }"></td>
                    <td th:text="${rower.getClub() }"></td>
                    <td th:text="${rower.getLicenceNumber() }"></td>
                    <td th:text="${rower.getNationality() }"></td>
                    <td th:text="${rower.getRaceExperience() }"></td>
                    <td th:text="${rower.getRowerHandicap() }"></td>
                </tr>
            </table>
        </div>
        <!--part Modification-->
        <br/>
        <button id="buttonModToggle">Modification d'équipe</button><br/>
        <section id="modifications">
            <form id="modification1">
                <label for="teamName">Nom d'identification de l'équipe:</label><br/>
                <input type="text" id="teamName" size="50" required/><br/>
                <label for="clubNumber">Numéro de license du rameur à remplacer:</label><br/>
                <input type="number" id="clubNumber" pattern="[0-9]{2}.[0-9]{2}.[0-9]{3}" title="01.01.001" required/><br/>
            </form>

        <form id="modbuttons">
            <input type="submit" id="ToRegistrationPage" value="Inscrire le nouveau rameur"/><br/>
            <input type="submit" id="newRower" value="Modifier l'inscription d'un autre rameur"/><br/>
            <input type="submit" id="modCompleted" value="Enregistrer et exporter"/><br/>
        </form>
        </section>
        <!--part Forfeit-->
        <br/>
        <button id="buttonForfeitToggle">Forfait</button><br/>
        <section id="Forfeit">
            <form id="forfait1">
                <label for="teamForfaitName">Nom d'identification de l'équipe:</label><br/>
                <input type="text" id="teamForfaitName" size="50" value="" required/><br/>
                <label for="reasons">Raisons éventuelles:</label><br/>
                <input type="text" id="reasons" value="" size="200"/><br/>
            </form>
        </section>
        <!--part Exportation-->
        <button id="toRegistration" onclick="loadPageRegistration()">Enregistrer à une autre course</button></br>
        </br>
        <a th:href="'/@{/rowwwapp/registration/results/document}'">Télécharger ces données</a></br>

    </article>
    <footer>Christine Roels, Intec Brussel Java EE Developer, persoonlijk project 2020</footer>
  </body> 
</html>    