<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html:charset=UTF-8">
    <!--defines the character set for the HTML file-->
    <link href="../static/css/rowwwapp_forms_layout.css" th:href="@{/css/rowwwapp_forms_layout.css}" rel="stylesheet" media="screen">
    <title>rowwapp/login</title>
</head>
<body>
<header>
    <div th:if="${param.login}">
    <h1>Bonjour!</h1>
    </div><br/>
    <div th:if="${param.logout}">
        <h1>A bientôt!</h1>
    </div><br/>
</header>
<article>
    <section>
<div th:if="${param.error}">
    <p>Nom et/ou mot de passe invalides</p>
</div>
        <div th:if="${param.logout}">
            <p>Vous êtes déconnecté</p>
        </div><br/>
        <form th:action="@{/rowwwapp/login}" method="post">
    <div>
        <label>Nom
            <input type="text" name="username" required/>
        </label><br/>
        <label>Mot de passe
            <input type="text" name="password" required/>
        </label><br/>
    </div>
    <div>
        <input type="submit" value="Entrer"/>
    </div>
</form>
    </section>
</article>
<footer>Christine Roels, Intec Brussel Java EE Developer, persoonlijk project 2020</footer>
</body>
</html>