<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-type" content="text/html:charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--defines the character set for the HTML file-->
    <link href="../static/css/rowwwapp_forms_layout.css" th:href="@{/css/rowwwapp_forms_layout.css}" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/rowwwapp_index_page.js" th:src="@{/js/rowwwapp_form.js}"></script>
    <title>rowwapp/login</title>
</head>
<body>
<!--Navigation bar-->
<ul>
    <li sec:authentication="isAnonymous()">Identifiez-vous</li>
    <li></li>
</ul>

<!--One row-->
<div class="row">
    <!--Three columns-->
    <div class="column side">
    </div>
    <div class="column middle">
        <section th:if="${loginError}">
            <p style="color:red">Nom et/ou mot de passe invalides</p>
        </section>
        <form th:action="@{/rowwwapp/login}"  method="post">
            <label>Nom d'utilisateur
                <input type="text" name="username" required/>
            </label><br/>
        <label>Mot de passe
            <input type="text" name="password" required/>
        </label><br/>
        <input type="submit" value="Entrer"/>
        </form>
        <br/>
    </div>
    <div class="column side">
        </div>
</div>
<!--Footer-->
</div>
<div class="row">
<footer>Christine Roels, Intec Brussel Java EE Developer, persoonlijk project 2020</footer>
</div>

</body>
</html>