<!DOCTYPE html>
<!--Important to create a xml nameSpace for thymeleaf. If I dont, each time I use th: I receive the message namespace is not bound-->
<html xmlns:th="http://www.thymeleaf.org" lang="fr"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/rowwwapp_forms_layout.css" th:href="@{/css/rowwwapp_forms_layout.css}" rel="stylesheet" media="screen">
    <title>rowwwapp/bienvenue</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/rowwwapp_index_page.js" th:src="@{/js/rowwwapp_index_page.js}"></script>

</head>
<body>
<!--Navigation bar-->
<ul>
    <li><a th:href="@{/rowwwapp/bienvenue}">Accueil</a></li>
    <li sec:authentication="principal.getUsername()">Bonjour Michel</li>
    <li style="float:right"><a th:href="@{/rowwwapp/logout}">Log Out</a></li>
    <li style="float:right" sec:authorize="isAuthenticated()">Logged In</li>
</ul>
<!--One row-->
<div class="row">
<!--Three columns-->
<div class="column side">
</div>

<div class="column middle">
<img src="../static/images/1200px_Roeien_1907_(28844241024).jpg"
     th:src="@{/images/1200px_Roeien_1907_(28844241024).jpg}" alt="Roeien in 1907..."/>
<br/>
<button id="toCompetition" onclick="loadPageCompetition()">Organiser une compétition</button>
<br/>
<button id="toRegistration" onclick="loadPageRegistration()">Participer à une compétition</button>
</div>
<div class="column side">
</div>
<!--End of One row-->
</div>
<div class="row">
<footer>Christine Roels, Intec Brussel Java EE Developer, persoonlijk project 2020</footer>
</div>
</body>
</html>