<!DOCTYPE html>
<!--Important to create a xml nameSpace for thymeleaf. If I dont, each time I use th: I receive the message namespace is not bound-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="fr">
<head>
    <link href="../static/css/rowwwapp_forms_layout.css" th:href="@{/css/rowwwapp_forms_layout.css}" rel="stylesheet" media="screen">
        <title>competition/race</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- repeater plugin provided by vijaybajrot  -->
        <script src="../static/js/rowwwapp_competition_race_page.js" th:src="@{/js/rowwwapp_competition_race_page.js}"></script>
    </head>
    <body>
        <!--Navigation bar-->
        <ul>
            <li><a th:href="@{/rowwwapp/bienvenue}">Accueil</a></li>
            <li><header>Organiser: étape 2</header></li>
            <li style="float:right"><a th:href="@{/rowwwapp/logout}">Log Out</a></li>
            <li style="float:right" sec:authorize="isAuthenticated()">Logged In</li>
        </ul>
        <!--One row-->
        <div class="row">
            <!--Three columns-->
            <div class="column side">
            </div>

            <div class="column middle">
        <article>
            <!-- part 1 -->
            <h1>Vos données</h1><br/>
            <h2>Jour de compétition</h2>
            <div>
                <table >
                    <tr>
                        <th>Id</th>
                        <th>Lieu</th>
                        <th>Date</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Date limite d'inscription</th>
                        <th>Montant</th>
                        <th>Règles d'inscription</th>
                        <th>Contacts</th>
                        <th>Date du tirage au sort</th>
                        <th>Règles</th>
                        <th>Contacts</th>
                        <th>Date limite pour forfait</th>
                        <th>Heure limite pour forfait</th>
                        <th>Règles</th>
                        <th>Contacts</th>
                        <th>Règles complémentaires</th>
                        <th>Courses</th>
                    </tr>
                    <tr th:if="${competitions==null}">Aucune compétition enregistrée</tr>
                    <tr th:each="comp : ${competitions}">
                        <td th:text="${comp.getId()}">
                        <td th:text="${comp.getPlaceOfEvent()}"></td>
                        <td th:text="${comp.getDate()}"></td>
                        <td th:text="${comp.getName() }"></td>
                        <td th:text="${comp.getDescription() }"></td>
                        <td th:text="${comp.getRegistrationLimit()}"></td>
                        <td th:text="${comp.getRegistrationCost() }"></td>
                        <td th:text="${comp.getRegistrationRules() }"></td>
                        <td th:text="${comp.getRegistrationContact() }"></td>
                        <td th:text="${comp.getLotteryDate()}"></td>
                        <td th:text="${comp.getLotteryRules() }"></td>
                        <td th:text="${comp.getLotteryContact() }"></td>
                        <td th:text="${comp.getForfeitLimit()}"></td>
                        <td th:text="${comp.getForfeitLimitHour() }"></td>
                        <td th:text="${comp.getForfeitRules() }"></td>
                        <td th:text="${comp.getForfeitContact() }"></td>
                        <td th:text="${comp.getComplementaryRules() }"></td>
                        <td th:text="${comp.getRaces() }"></td>
                    </tr>
                </table>
            </div><br/>
            <h2>Course du jour de compétition</h2>
            <div>
                <table >
                    <tr>
                        <th>Id</th>
                        <th>Numéro</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Distance</th>
                        <th>Temps max.</th>
                        <th>Heure de départ</th>
                        <th>Type de course</th>
                        <th>Course sur-mesure</th>
                        <th>Envergure</th>
                        <th>Catégorie</th>
                        <th>Type de bateau</th>
                        <th>Expérience admise</th>
                        <th>Compétition</th>
                    </tr>
                    <tr th:if="${races==null}">Aucune course enregistrée</tr>
                    <tr th:each="race : ${races}">
                        <td th:text="${race.getId()}">
                        <td th:text="${race.getNumber()}"></td>
                        <td th:text="${race.getName()}"></td>
                        <td th:text="${race.getDescription() }"></td>
                        <td th:text="${race.getDistance() }"></td>
                        <td th:text="${race.getMaxTime() }"></td>
                        <td th:text="${race.getStartingTime() }"></td>
                        <td th:text="${race.getRacetype() }"></td>
                        <td th:text="${race.getCustomedRace() }"></td>
                        <td th:text="${race.getRaceImpact() }"></td>
                        <td th:text="${race.getAdmissCategory() }"></td>
                        <td th:text="${race.getAdmissRowingBoat() }"></td>
                        <td th:text="${race.getRaceExperience() }"></td>
                        <td th:if="${race.getCompetition()!=null}" th:text="${race.getCompetition().getDate()}"></td>
                    </tr>
                </table>
            </div>
         <br/>
            <button id="buttonRaceInfosToggle">Course >>></button><br/>
            <section id="raceForm">
            <!--/*@thymesVar id="raceForm2" type="be.intecbrussel.models.competition.Race"*/-->
            <form action="#" method="post" th:action="@{/rowwwapp/competition/race}" th:object="${raceForm2}">

                <h4>Détails par course (chanps requis*)</h4>
                <label for="raceNumber">Numéro d'identification*:</label><br/>
                    <input type="text" id="raceNumber" pattern="[0-9]+[0-9]+[0-9]" value="000" title="par exemple: 120 pour 120ième course" th:field="*{number}" required/><br/>
                <label for="raceStartingTime">Heure de départ*:</label><br/>
                    <input type="text" id="raceStartingTime" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" value="00.00" th:field="*{startingTime}"  required/><br/>
                <label for="raceDistance">Distance (mètres)*:</label><br/>
                    <input type="text" id="raceDistance" value="5000" th:field="*{distance}" required/><br/>
                <label for="raceMaxTime">Temps maximum*:</label><br/>
                    <input type="text" id="raceMaxTime" pattern="[0-9]+[0-9]+.+[0-9]+[0-9]" title="01.20" th:field="*{maxTime}" required/><br/>
                <label>Caractère:</label>
                    <label class="container" >International
                        <input type="radio" name="radio" th:field="*{raceImpact}" value="INTERNATIONAL" >
                        <span class="checkmark" id="international"></span>
                    </label>
                    <label class="container" >National
                        <input type="radio" name="radio" checked="checked"  th:field="*{raceImpact}" value="NATIONAL" >
                        <span class="checkmark" id="national"></span>
                    </label>
                <label>Expérience:</label>
                    <label class="container">Débutants
                        <input type="radio" name="radio" value="BEGINNER" th:field="*{raceExperience}" >
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Tous
                        <input type="radio" name="radio" value="ALL" th:field="*{raceExperience}" >
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Non-débutants
                        <input type="radio" name="radio" checked="checked" value="NON_BEGINNER" th:field="*{raceExperience}" >
                        <span class="checkmark"></span>
                    </label>
                <label for="raceGender">Type de course (genres):</label><br/>
                <select id="raceGender" th:field="*{gender}" >1 à sélectionner
                    <option value="ALL" selected>ALL</option>
                    <option value="FEMALE" >FEMALE</option>
                    <option value="MALE" >MALE</option>
                </select><br/>
                <label for="raceType">Type de course:</label><br/>
                    <select id="raceType" th:field="*{racetype}" >1 à sélectionner
                        <option value="UNKNOWN" selected>UNKNOWN</option>
                        <option value="UNCLASSIFIED" >UNCLASSIFIED</option>
                        <option value="INLINE_C1" >INLINE_C1</option>
                        <option value="INLINE_C2" >INLINE_C2</option>
                        <option value="INLINE_C4" >INLINE_C4</option>
                        <option value="JUNIOR_SLALOM" >JUNIOR_SLALOM</option>
                        <option value="JUNIOR_BIATHLON" >JUNIOR_BIATHLON</option>
                         <option value="JUNIOR_DUATHLON" >JUNIOR_DUATHLON</option>
                        <option value="JUNIOR_TRIATHLON" >JUNIOR_TRIATHLON</option>
                        <option value="TETE_DE_RIVIERE" >TETE_DE_RIVIERE</option>
                        <option value="HANDICAP" >HANDICAP</option>
                        <option value="REGATTA" >REGATTA</option>
                        <option value="TREK" >TREK</option>
                        <option value="CHALLENGE" >CHALLENGE</option>
                    </select><br/>
                <label for="raceCustom">Type de course en quelques mots (si course non-répertoriée):</label><br/>
                    <input type="text" id="raceCustom" size=100 value="maximum 100 caractères" title="par ex.: Kermesse de la journée Ports Ouvertes" th:field="*{customedRace}"/><br/>
                <label for="boatType">Type d'embarcation admise:</label><br/>
                    <select id="boatType" th:field="*{admissRowingBoat}">1 à sélectionner
                        <option value="ALL" selected>ALL</option>
                        <option value="SWEEP_COXLESS_PAIR_2_MINUS" >SWEEP_COXLESS_PAIR_2_MINUS</option>
                        <option value="SWEEP_COXLESS_PAIR_4_MINUS" >SWEEP_COXLESS_PAIR_4_MINUS</option>
                        <option value="SWEEP_COXLESS_PAIR_2_PLUS" >SWEEP_COXLESS_PAIR_2_PLUS</option>
                        <option value="SWEEP_COXLESS_PAIR_4_PLUS" >SWEEP_COXLESS_PAIR_4_PLUS</option>
                        <option value="SWEEP_EIGHT_8_PLUS" >SWEEP_EIGHT_8_PLUS</option>
                        <option value="SINGLE_SCULL_1X" >SINGLE_SCULL_1X</option>
                        <option value="DOUBLE_SCULL_2X" >DOUBLE_SCULL_2X</option>
                        <option value="TRIPLE_SCULL_3X" >TRIPLE_SCULL_3X</option>
                        <option value="QUAD_SCULL_4X" >QUAD_SCULL_4X</option>
                        <option value="OCTUPLE_SCULL_8X" >OCTUPLE_SCULL_8X</option>
                        <option value="QUEEP_4_MINUS" >QUEEP_4_MINUS</option>
                        <option value="ROWING_DINGHY" >ROWING_DINGHY</option>
                        <option value="ROWING_TENDER" >ROWING_TENDER</option>
                        <option value="YOLE" >YOLE</option>
                        <option value="CANOE_SKIFF" >CANOE_SKIFF</option>
                        <option value="CANADIAN_TREK_SKIFF" >CANADIAN_TREK_SKIFF</option>
                        <option value="SINGLE_TREK_SKIFF_1X" >SINGLE_TREK_SKIFF_1X</option>
                        <option value="DOUBLE_TREK_SKIFF_2X" >DOUBLE_TREK_SKIFF_2X</option>
                        <option value="QUAD_TREK_SKIFF_4X" >QUAD_TREK_SKIFF_4X</option>
                    </select><br/>
                <label for="ageCategory">Catégorie admise:</label>
                    <select id="ageCategory"  th:field="*{admissCategory}">1 à sélectionner
                        <option value="ALL_OPEN" selected>ALL_OPEN</option>
                        <option value="PR3" >PR3</option>
                        <option value="PR2" >PR2</option>
                        <option value="PR1" >PR1</option>
                        <option value="JUNIOR_10" >JUNIOR_10</option>
                        <option value="JUNIOR_12" >JUNIOR_12</option>
                        <option value="JUNIOR_14" >JUNIOR_14</option>
                        <option value="JUNIOR_16" >JUNIOR_16</option>
                        <option value="JUNIOR_18"  >JUNIOR_18</option>
                        <option value="UNDER_23" >UNDER_23</option>
                        <option value="SENIOR_A" >SENIOR_A</option>
                        <option value="SENIOR_B" >SENIOR_B</option>
                        <option value="Master_A" >Master_A</option>
                        <option value="Master_B" >Master_B</option>
                        <option value="Master_C" >Master_C</option>
                        <option value="Master_D" >Master_D</option>
                        <option value="Master_E" >Master_E</option>
                        <option value="Master_F" >Master_F</option>
                        <option value="Master_G" >Master_G</option>
                        <option value="Master_H" >Master_H</option>
                        <option value="Master_I" >Master_I</option>
                        <option value="Master_J" >Master_J</option>
                        <option value="Master_K" >Master_K</option>
                        <option value="Master_L" >Master_L</option>
                        <option value="Master_M" >Master_M</option>
                    </select><br/>
                <label for="raceDescription">Description complémentaire(handicaps, règles particulières...):</label><br/>
                    <input type="text" id="raceDescription" size=200 value="maximum 200 caractères" th:field="*{description}"/>
                <br/>
                    <label>Enregistrer une autre course en plus de celle(s)-ci ?:</label><br/>
                    <label class="container">Oui
                        <input type="radio" name="radio" value="oui" th:field="*{lastRace}" >
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Non
                        <input type="radio" name="radio" value="non" th:field="*{lastRace}" >
                        <span class="checkmark"></span>
                    </label>
                <input type="submit" value="Enregistrer et continuer"/>
            </form>
                <!-- End of Race Form -->
            </section>
        </article>
            </div>
            <div class="column side">
            </div>
            <!--End of One row-->
        </div>
        <div class="row">
            <footer>Christine Roels, Intec Brussel Java EE Developer, persoonlijk project 2020</footer>
        </div>
</body> 
</html>